<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147754585-g7fm4c3k85ros8h6cb0o1gltv768mhi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147754585-g7fm4c3k85ros8h6cb0o1gltv768mhi3</string>
	<key>API_KEY</key>
	<string>AIzaSyA3FHvSVmdIXLa2f8pFK_96SWLEHZyEwMY</string>
	<key>GCM_SENDER_ID</key>
	<string>147754585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab06</string>
	<key>PROJECT_ID</key>
	<string>lab06-b213d</string>
	<key>STORAGE_BUCKET</key>
	<string>lab06-b213d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147754585:ios:c753277935600060c46b48</string>
</dict>
</plist>